@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P.woff2') format('woff2'),
        url('PressStart2P.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', Fallback, sans-serif;
}
canvas {
    position:absolute;
    top:0;
    left:0
}

.glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }




  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 50px #ff4da6;
    }
  }

  .color1 {
    color: red
}
.color2 {
    color:green
}
.color3 {
    color: yellow
}