*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P.woff2') format('woff2'),
      url('PressStart2P.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

a {
  color: yellow;
}

a:hover {
  color:white;
}

a:link {
  text-decoration: none;
}

body {
    background-image: url(../img/ash-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1663b1;
    font-family: 'Press Start 2P', Fallback, sans-serif;
    margin-bottom: 4%;
}

h1, h6 {
  color: white;
}

h5 {
  color: yellow;
}

h3, h4 {
  color: yellow;
}

/*classes*/

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background: none;
  border: none;    
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: url('../img/card.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: none !important;
}

.btn {
    border: 4px solid white;
}

.hr-size {
    width: 60%;
    height: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dc3545;
    border-radius: 5px;
}

@import "compass/css3";

/*Be sure to look into browser prefixes for keyframes and annimations*/
.flash {
   animation-name: flash;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: #dc3545;}
    to {color: yellow;}
}

.footer {
  position: fixed;
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dc3545;
  color: white;
  text-align: center;
  font-size: 10px;
  border-top: 5px solid white;
}

/*id's*/

#button-row {
    text-align: center;
    padding-bottom: 40px;
}

#header, 
#score-data, 
#tagline {
    text-align: center;
}

#top-container {
  margin-top: 25px;
  max-width: 80%;
}