*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P.woff2') format('woff2'),
      url('PressStart2P.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

a {
  color: yellow;
}

a:hover {
  color:white;
}

a:link {
  text-decoration: none;
}

body {
    background-image: url(../img/ash-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: center; */
    background-color: #1663b1;
    font-family: 'Press Start 2P', Fallback, sans-serif;
}

h1 {
  color:white;
}

h3, h4, h5 {
  color: yellow;
}

/*classes*/

/* .game-btns {
  max-width: 65%;
  min-width: 65%
} */

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background: none;
  border: none;    
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.footer {
  position: fixed;
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dc3545;
  color: white;
  text-align: center;
  font-size: 10px;
}

.front {
  z-index: 2;
  background: url('../img/card.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: none !important;
}

.btn {
    border: 4px solid white;
}

.hr-size {
    width: 80%;
    height: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: red;
    border-radius: 5px;
}

/*id's*/

#button-row {
    /* margin: 20px; */
    text-align: center;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    /* font-family: 'Press Start 2P', Fallback, sans-serif; */
    /* font-size: x-large; */
}

#header {
    text-align: center;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* font-size: xx-large; */
}

#score-data {
  text-align: center;
}

#tagline {
  text-align: center;
}